{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container" style="background-image: url(../public/img/123.jpg) ;width: 100%;margin-top: -20px;background-position: 0 -600px;min-height: 1000px;">
  <div class="row"  style="margin-left:500px;margin-top: 50px;">
    <div class="col-md-5">
      <form id="topic_form" >
        <div class="form-group">
          <label for="topicType">选择板块</label>
          <select name="topic_type" id="topicType" class="form-control">
            <option value="1">分享</option>
            <option value="2">问答</option>
            <option value="3">招聘</option>
            <option value="4">客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="topicTitle">标题</label>
          <input type="text" class="form-control" id="topicTitle" name="topic_title" placeholder="请输入标题" maxlength="20">
        </div>
        <div class="form-group">
          <label for="topicContent">内容</label>
          <textarea class="form-control" id="topicContent" name="topic_content" style="width: 390px;min-height: 200px;"></textarea>
        </div>
        <button type="submit" class="btn btn-default" >Submit</button>
      </form>
    </div>
  </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#topic_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/topics/new',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    // window.alert('注册成功！')
                    // 服务端重定向针对异步请求无效
                    window.location.href = '/'
                } else if (err_code === 1) {
                    window.alert('请先登录！')
                } else if (err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
    })
</script>
{{/block}}
